In [ ]:
country_map = {
    "브라질": "Brazil",
    "독일": "Germany",
    "터키": "Turkey",
    "대한민국": "Korea Republic",
    "스페인": "Spain",
    "잉글랜드": "England",
    "세네갈": "Senegal",
    "미국": "United States",
    "일본": "Japan",
    "덴마크": "Denmark",
    "멕시코": "Mexico",
    "아일랜드": "Republic of Ireland",
    "스웨덴": "Sweden",
    "벨기에": "Belgium",
    "이탈리아": "Italy",
    "파라과이": "Paraguay",
    "남아프리카 공화국": "South Africa",
    "아르헨티나": "Argentina",
    "코스타리카": "Costa Rica",
    "카메룬": "Cameroon",
    "포르투갈": "Portugal",
    "러시아": "Russia",
    "크로아티아": "Croatia",
    "에콰도르": "Ecuador",
    "폴란드": "Poland",
    "우루과이": "Uruguay",
    "나이지리아": "Nigeria",
    "프랑스": "France",
    "튀니지": "Tunisia",
    "슬로베니아": "Slovenia",
    "중국": "China",
    "사우디아라비아": "Saudi Arabia",
    "우크라이나": "Ukraine",
    "스위스": "Switzerland",
    "네덜란드": "Netherlands",
    "가나": "Ghana",
    "호주": "Australia",
    "코트디부아르": "Côte d'Ivoire",
    "체코": "Czechia",
    "앙골라": "Angola",
    "이란": "Iran",
    "트리니다드 토바고": "Trinidad and Tobago",
    "토고": "Togo",
    "세르비아 몬테네그로": "Montenegro",
    "칠레": "Chile",
    "슬로바키아": "Slovakia",
    "뉴질랜드": "New Zealand",
    "세르비아": "Serbia",
    "그리스": "Greece",
    "알제리": "Algeria",
    "온두라스": "Honduras",
    "북한": "North Korea",
    "콜롬비아": "Colombia",
    "보스니아 헤르체고비나": "Bosnia and Herzegovina",
    "페루": "Peru",
    "모로코": "Morocco",
    "아이슬란드": "Iceland",
    "이집트": "Egypt",
    "파나마": "Panama",
    "웨일스": "Wales",
    "캐나다": "Canada",
    "카타르": "Qatar",
}

In [17]:
import pandas as pd

df1 = pd.read_csv('avg_age.csv')
df2 = pd.read_csv('merged v2.csv')
reverse_map = {v: k for k, v in country_map.items()}

# df1에 한글 이름 컬럼 추가
df1["팀"] = df1["국가"].map(reverse_map)

merged = pd.merge(
    df2,
    df1,
    left_on=["년도", "팀"],
    right_on=["년도", "팀"],
    how="left"
)

# 불필요한 컬럼 정리
merged = merged.drop(columns=["국가"])  # 중복 키 제거
# 혹시 '팀_y'가 남았다면 제거
if "팀_y" in merged.columns:
    merged = merged.drop(columns=["팀_y"])
merged = merged.rename(columns={"팀_x": "팀"})

merged

,년도,팀,영문국가명,예선_승률,예선_골득실률,순위,승점,AvgApps,ball_control,dribbling,...,acceleration,stamina,strength,shot_power,sprint_speed,gk,passing,defending,평균나이,top20소속선수수
0,2002,브라질,Brazil,0.46,2.352113,1,21,0.26087,74.36,73.68,...,67.95,75.27,77.05,72.73,82.09,31.95,68.95,59.61,26.74,3
1,2002,독일,Germany,0.55,1.817073,2,16,0.21739,68.05,56.29,...,63.29,66.38,67.86,72.57,80.57,37.60,62.88,63.29,28.26,10
2,2002,터키,Turkey,0.46,1.457627,3,13,0.00000,66.85,65.85,...,62.65,66.45,69.80,67.05,74.05,30.85,65.18,56.78,28.26,1
3,2002,대한민국,South Korea,0.48,2.216667,4,11,0.43478,65.95,56.82,...,55.41,65.91,65.50,65.68,72.45,32.64,57.66,62.23,27.13,0
4,2002,스페인,Spain,0.65,3.227273,5,11,0.26087,73.55,68.73,...,69.77,75.50,78.23,78.09,83.27,35.05,69.80,64.55,27.13,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,2022,덴마크,Denmark,0.61,2.446429,28,1,0.46154,67.27,62.65,...,68.77,72.19,70.69,67.92,70.15,17.13,66.37,53.93,27.23,4
188,2022,세르비아,Serbia,0.48,1.536232,29,1,0.46154,67.35,62.35,...,62.65,66.19,72.58,69.38,64.15,18.21,64.19,51.35,26.92,0
189,2022,웨일스,Wales,0.44,1.233333,30,1,0.00000,61.23,57.46,...,67.38,66.19,63.88,55.19,66.27,17.62,59.62,53.12,26.54,0
190,2022,캐나다,Canada,0.48,2.296875,31,0,0.00000,59.88,57.84,...,66.48,66.48,69.76,60.36,65.60,16.50,56.82,43.71,27.08,0
191,2022,카타르,Qatar,0.49,1.388889,32,0,0.00000,60.60,58.04,...,66.40,65.04,63.64,58.20,68.68,12.24,57.96,49.69,27.12,0

In [18]:
merged.columns

Index(['년도', '팀', '영문국가명', '예선_승률', '예선_골득실률', '순위', '승점', 'AvgApps',
       'ball_control', 'dribbling', 'composure', 'reaction', 'crossing',
       'acceleration', 'stamina', 'strength', 'shot_power', 'sprint_speed',
       'gk', 'passing', 'defending', '평균나이', 'top20소속선수수'],
      dtype='object')

In [19]:
cols = ['평균나이', 'top20소속선수수']

missing_rows = merged[merged[cols].isna().any(axis=1)]
print(missing_rows)

Empty DataFrame
Columns: [년도, 팀, 영문국가명, 예선_승률, 예선_골득실률, 순위, 승점, AvgApps, ball_control, dribbling, composure, reaction, crossing, acceleration, stamina, strength, shot_power, sprint_speed, gk, passing, defending, 평균나이, top20소속선수수]
Index: []

[0 rows x 23 columns]

In [20]:
merged.to_csv('merged v3.csv',index=False,encoding='utf-8')